{% extends "layouts/landing-layout.html" %}
{% load static extra_settings widget_tweaks  %}

{% comment %}

EXTRA SETTINGS EXAMPLE:
get_setting 'SUBTITLE' default=''

{% endcomment %}

{% block content  %}

<!--  contact -->
<div class="contact">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="titlepage my-4">
              <h2 class="my-4">Спасибо, наш оператор свяжется с вами в близжаешее время!</h2>
              <h2 class="my-4"><a href="/">Назад</a></h2>
            </div>
        </div>
      </div>
      <div class="row">

      </div>
  </div>
{% endblock %}
