{% extends "layouts/landing-layout.html" %}
{% load static extra_settings widget_tweaks  %}

{% comment %}

EXTRA SETTINGS EXAMPLE:
get_setting 'SUBTITLE' default=''

{% endcomment %}

{% block content  %}

<!--  contact -->
<div class="contact">
  <div class="container">
      <div class="row">
        <div class="col-md-12 my-y">
            <div class="titlepage" style="margin-bottom:100px;margin-top:70px;">
              <h2 class="my-4">Спасибо, наш оператор свяжется с вами в ближаешее время!</h2>
              <h3 class="my-4 py-4 privacy_block"><a href="/">Назад</a></h3>
            </div>
        </div>
      </div>
      <div class="row">

      </div>
  </div>
{% endblock %}
